.introduction {
  text-align:center;
  width:70%;
  margin:0 auto;
  border:1px black solid;
  border-radius:20px;
  height:100px;
}

.layout-logo{
  width: 120px;
  height: 30px;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
  color: white;
}
.container {
  width:1200px;
  margin:0 auto;
}
.statistic {
  display:flex;
}
.item {
  width:100px;
}

